.customer-list-container {
    margin-top: 2.222vw;
    background-color: rgb(117, 171, 188);
    height: 18.518vw;
    width: 60.606vw;
    display: flex;
    justify-content: space-between;
    border-radius: 1.010vw;
}

.customer-text-container {
    background-color: rgb(117, 171, 188);
    margin-left: 2.525vw;
    margin-top: 0.463vw;
}

.customer-list-container .customer-text-container p {
    background-color: rgb(117, 171, 188);
    color: var(--bg-color);
    font-weight: bold;
}

.customer-list-container button{
    height: 1.389vw;
    width: 10.101vw;
    font-size: 0.758vw;
    margin-top: 1.851vw;
    margin-right: 1.515vw;
    background-color: var(--text-color);
}

