.navbar-container {
    padding: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar-container a{
    color: #fff;
    text-decoration: none;
}

.navbar-container .logo{
    font-size: 2.5vw;
    font-weight: bold;
}

.navbar-container .nav-links ul {
    display: flex; 
}

.navbar-container .nav-links ul li {
    margin: 0 1.25vw;
    list-style-type: none;
    font-weight: 600;
    border-bottom: 0.15vw transparent solid;
    transition: 0.3s;
}

.navbar-container .nav-links ul li:hover{
    border-bottom: 0.1vw solid white;
}
