.tracking-list-container {
    margin-top: 2.08vw; 
    background-color: rgb(117, 171, 188);
    height: 5.56vw; 
    width: 62.5vw; 
    border-radius: 1.04vw; 
}

.tracking-list-container p {
    margin-left: 1.56vw; 
    margin-top: 1.85vw; 
    background-color: rgb(117, 171, 188);
    color: var(--bg-color);
    font-weight: bold;
}
